body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

/* transition effect left on all and few modifications in color i have to work*/

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 0.5rem;
}
.sidebar {
  width: 340px;

  background-color: black;
}
.main-content {
  background-color: rgba(23, 23, 23, 255);
  background-attachment: fixed;
  z-index: 0;
  flex: 1;
  border-radius: 0.5rem;
  overflow-y: scroll;
  margin: 0rem 0rem 0rem 0.6rem;
}

.nav {
  background-color: rgba(23, 23, 23, 255);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 112px;
  padding: 0.5rem 0.75rem;
}
.nav-option {
  line-height: 2.5rem;
  opacity: 0.7;
  padding: 0.5rem 0.75rem;
}
.nav-option:hover {
  opacity: 1;
}
.nav-option i {
  font-size: 1.25rem;
}
.nav-option a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}
.library {
  background-color: rgba(23, 23, 23, 255);
  border-radius: 1rem;
  height: 100%;
  margin-top: 0.5rem;
  /* padding: 0.5rem 0.75rem; */
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: flex;
  font-size: 1.25rem;

  padding-right: 1.25rem;
}
.icons i {
  margin-left: 1.25rem;
  opacity: 0.7;
}
.icons i:hover {
  opacity: 1;
}
.lib-option a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}
.lib-option img {
  width: 1.25rem;
  height: 1.25rem;
}
.song-list {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(23, 23, 23, 255);
  margin: 0.5rem;
}
.song-options {
  overflow-x: scroll;
  white-space: nowrap;
}
.type {
  display: inline-block;
  background-color: #2a2929e1;
  border-radius: 1rem;
  padding: 6px 12px;
  font-size: 14px;
}
.type:hover {
  background-color: #242323;
}

.find-box {
  margin: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.search {
  font-size: 16px;
  padding: 8px;
  border-radius: 50%;
}

.search:hover {
  background-color: #292828;
}
.recents {
  padding: 8px;
  opacity: 0.7;
  transition: 0.3s;
}
.recents:hover {
  opacity: 1;
  transform: scale(1.1);
}
.recent {
  text-decoration: none;
  color: white;
  margin-right: 0.2rem;
}
.songs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.song img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
}

.song:hover {
  background-color: #242323;
}

.song {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.2rem;
  height: 60px;
  border-radius: 8px;
}

.text {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0.7rem;
}

.singer {
  display: block; /* Make the singer's name a block-level element to stack it above the artist's name */
}

.artist {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #d1cdcd;
}
.playlist {
  display: block;
}
.playlist-description {
  display: flex;
  line-height: 2rem;
  font-size: 0.75rem;
  color: #d1cdcd;
}

.type-playlist {
  white-space: nowrap;
  overflow-x: scroll;
  margin-left: 1rem;
}
.fa-thumbtack {
  transform: rotate(45deg);
  margin-right: 0.4rem;
  color: #1db954;
  font-size: 0.9rem;
}
.like {
  margin-left: 1rem;
}
.user-nav {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
.user-options {
  display: flex;
}
.badge {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 0.25rem 1rem;
  font-weight: 700;
  height: 2rem;
  width: fit-content;
}
.dark-badge {
  background-color: #000;
  color: #fff;
}
.sticky-nav {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  z-index: 1;
  background-color: black;
}
.sticky-nav-icons {
  margin-left: 0.75rem;
}
.sticky-nav-icons img:hover {
  transform: scale(1.1);
}
.sticky-nav-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
.sticky-nav-options .nav-item {
  margin: 0.8rem 0rem 0rem 1rem;
}
.sticky-nav-options .nav-item:hover {
  transform: scale(1.08);
}
@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}
.circular-icon-container {
  background-color: #161616;
  width: 25px;
  height: 25px;
  padding: 2px;
  margin-top: 8px;
  margin-left: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-bell {
  color: #b1b1b1;
}
.circular-icon-container:hover {
  transform: scale(1.08);
}
.circular-icon-container:hover .fa-bell {
  color: white;
  transform: scale(1.12);
}
.cards {
  margin: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.time-greeting {
  font-size: 20px;
  margin-top: -15px;
}

.cards .singers {
  display: flex;
  flex-wrap: wrap;
  margin: 0% 0.7%;
}

.singers .singerPlaylist {
  display: flex;
  justify-content: space-between;
  flex-basis: calc(32% - 10px);
  margin: 5px 5px;
  height: 3.9em;
  background-color: #444549;
  border-radius: 5px;
  padding-right: 1%;
}

/* just singer name align center left*/
.singerText {
  display: flex;
  margin-top: 13%;
  margin-left: 65px;
  font-weight: 500;
}

@media (max-width: 1210px) {
  .cards .singers .singerPlaylist {
    flex-basis: calc(50% - 10px);
    height: 3.4rem;
  }
}

.singers .singerPlaylist .singerImage {
  float: left;
  height: 100%;
  width: 3.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.singers .singerPlaylist .playButton {
  height: 70%;
  border-radius: 50%;
  margin-top: 20%;
  opacity: 0;
}

.singers .singerPlaylist:hover {
  background-color: #4b4b4b;
}
.singers .singerPlaylist:hover .playButton {
  opacity: 1;
}
.show-list {
  display: flex;
  justify-content: space-around;
}
h6 {
  float: left;
}

h2 {
  font-size: 22px;
  padding-top: 12px;
  padding-left: 12px;
}

.shows-container {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
}

.card {
  background-color: #1f1f1f;
  width: 160px;
  padding: 15px 18px 27px 18px;
  height: 250px;
  border-radius: 10px;
  margin: 10px;
  text-overflow: ellipsis;
}
.card-info {
  box-sizing: border-box;
  max-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card:hover {
  background-color: #2e2d2d;
}

.card-image {
  width: 100%;
  height: 65%;
  border-radius: 8px;
}
.card-title {
  font-weight: 600;
}
.card-info {
  font-size: 14px;
  color: #9f9d9d;
}
.circle {
  border-radius: 50%;
}

.shows-container .card {
  position: relative;
}

.shows-container .card .playButton {
  position: absolute;
  bottom: 120px;
  right: 26px;
  border-radius: 50%;
  width: 50px;
  opacity: 0;
}

.shows-container .card:hover .playButton {
  opacity: 1;
}

.moreAbout {
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
  padding-top: 20px;
  padding-right: 32px;
  /* padding-bottom: 100px; */
}

.companyDetails {
  flex-basis: 40%;
  display: flex;
  justify-content: space-between;
  padding: 8px 32px 40px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  flex-basis: 13%;
  padding-top: 45px;
}

.social-items {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-items:hover {
  background-color: #5e5e5e;
}

.moreAbout .follow-links {
  display: block;
  text-decoration: none;
  color: #a7a7a7;
  margin-bottom: 12px;
  font-size: 14px;
}
.moreAbout ul {
  display: inline;
}
.ul-heading {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

.moreAbout .follow-links:hover {
  text-decoration: underline;
  color: white;
}

/* card heading margins*/
/* h2 {
  margin-left: 0.9rem;
  margin-bottom: 1rem;
  font-size: 24px;
} */

.line {
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
  margin-bottom: 2em;
  opacity: 0.2;
}

.main-footer2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
  color: #9f9d9d;
}

.policy {
  margin-left: 12px;
}
.rules {
  text-decoration: none;
  display: inline;
  color: #9f9d9d;
  font-size: 12px;
  padding: 4px 10px;
}

.rules:hover {
  color: white;
}
.copyright {
  font-size: 12px;
  margin-right: 3rem;
}
.copyrightYear p:before {
  content: "\00a9";
}

.greetings {
  font-size: 32px;
  font-weight: 600;
}

/* footer start */

.music-player {
  background-color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 72px;
  display: flex;

  padding: 4px 12px;
  /* background-color: red; */
}

.current-song {
  display: flex;
  align-items: center;
  width: 335px;
}

.current-singer {
  width: 50px;
  height: 80%;
  margin-left: 8px;
  border-radius: 8px;
}
.song-info {
  margin-left: 10px;
}
.song-name {
  font-size: 13px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.song-name:hover {
  text-decoration: underline;
}

.song-artist {
  font-size: 12px;
  text-decoration: none;
  color: #9f9d9d;
  display: block;
}

.song-artist:hover {
  text-decoration: underline;
  color: white;
}
.far.fa-heart {
  margin-left: 10px;
}

.playbar {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 24px;
  padding-right: 24px;
}

.music-controls {
  margin-left: 36%;
}
.music-time {
  width: 600px;
  height: 4px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  margin-left: 180px;
}
.music-time::before {
  font-size: 12px;
  content: "2:48";
  position: absolute;
  top: -6px;
  left: -32px;
  color: #9f9d9d;
}
.music-time::after {
  font-size: 12px;
  content: "3:32";
  position: absolute;
  right: -32px;
  top: -6px;
  color: #9f9d9d;
}

.user-controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10%;
  color: #9f9d9d;
}
.user-controls div:hover {
  color: white;
}
.mute {
  display: flex;
}
.mute:hover .volume-level {
  background-color: #1db954;
}
.volume-level {
  width: 80px;
  height: 4px;
  background-color: white;
  margin: 6px 4px 0px 4px;
  color: white;
  margin-left: 6px;
}
.rectangle-play {
  font-size: 10px;
  display: inline-block;
  border: 1px solid #ffffff;
  padding: 2px; /* Adjust padding as needed */
}

/* will update it  to one combine */

.icon-bell {
  background-color: #161616;
  width: 25px;
  height: 25px;
  padding: 15px;
  margin-top: 8px;
  margin-left: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 18px;
}
.icon-bell:hover .fa-bell {
  color: white;
  transform: scale(1.15);
}

.icon-user-login {
  color: white;
  font-size: 18px;
  background-color: #161616;
  width: 25px;
  height: 25px;
  padding: 15px;
  margin-top: 8px;
  margin-left: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.icon-user-login:hover {
  transform: scale(1.08);
}
