@media only screen and (max-width: 430px) {
  .main {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  .sidebar {
    width: 100%;
  }
  .song-list {
    display: none;
  }
  .sticky-nav {
    display: none;
  }
  .cards .singers {
    display: flex;
    margin: 0px;
    margin-top: 2%;
  }

  .singers .singerPlaylist {
    flex-basis: calc(45%);
    padding: 0px;
  }

  .greetings {
    display: none;
  }
  .song-options {
    overflow-x: scroll;
    padding: 20px 12px;
    display: flex;
    justify-content: space-around;
  }

  .singerText {
    font-size: 13px;
    font-weight: 600;
  }
  .playButton {
    display: none;
  }
  .type {
    height: 25px;
    margin-left: 10px;
    z-index: 0;
    font-weight: 500;
  }
  .type:hover {
    background-color: #1db954;
    color: black;
  }

  .all {
    display: inline;
    width: 100px;
    padding: 6px 20px;
    border-radius: 1.5rem;
    font-weight: 400;
    margin-left: 200px;
  }

  .user-logos {
    position: fixed;
    left: 0px;
    top: 25px;
    width: 30px;
    height: 20px;
    z-index: 1;
    display: inline;
    text-align: center;
    font-size: 24px;
    color: black;
    padding: 10px 8px;
    box-shadow: 5px 0px 5px 1px rgb(7, 7, 7);
    background-color: rgba(23, 23, 23, 255);
  }
  .user-info-link {
    background-color: rgb(228, 96, 55);
    border-radius: 50%;
    color: black;
    margin-bottom: 5px;
  }

  .shows-container {
    overflow-x: scroll;
    width: 100%;
  }

  /* hide scrollbars */
  .shows-container::-webkit-scrollbar {
    width: 0;
  }

  .song-options::-webkit-scrollbar {
    width: 0;
  }
  .moreAbout,
  .main-footer2 {
    display: none;
  }

  .music-player {
    display: flex;
    position: fixed;
    bottom: 65px;
    background-color: rgb(56, 20, 20);
    height: 55px;
  }
  .current-song {
    width: 100%;
  }
  .current-singer {
    display: inline-block;
    margin: 0px;
  }
  .music-start {
    display: inline-block;
  }
  .player-shuffle,
  .play-back,
  .play-next,
  .loop,
  .music-item,
  .music-time,
  .mute,
  .que .now-playing {
    display: none;
  }
  .playbar {
    padding: 0px;
    width: 50px;
    margin-right: 40px;
  }
  .adds {
    display: block;
    padding: 3px;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 30px;
  }
  .fa-add {
    font-weight: 600;
    font-size: 20px;
    color: white;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 50px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
    border-radius: 0px;
    padding: 0.5rem 0.5rem;
  }
  .nav-option {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .nav-option i {
    font-size: 30px;
  }
  .nav-option a {
    display: none;
  }
  .options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0%;
    left: 50%;
    z-index: 1;
    width: 210px;
    height: 66px;
    background-color: rgba(23, 23, 23, 255);
  }
  #premiums {
    display: block;
  }
  #premiums img {
    margin-top: 10px;
    width: 40px;
    height: 32px;
  }
  .icons {
    display: none;
  }
  .lib-option img {
    width: 25px;
    height: 35px;
  }
  .show-all {
    display: none;
  }

  .curr-playing {
    display: inline-block;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: 15px;
    color: #1db954;
  }
  .last {
    display: flex;
    flex-direction: column;
  }
  .last .card {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .hide {
    display: none;
  }
}
